* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$grid_img_size: 193px;
// $single_img_size: 100%;

.container {
  margin: 0 auto;
  // border: 1px solid #000;
  max-width: 581px;
  min-width: 581px;
  // height: 100vh;
}

.header {
  width: 100%;
  height: 55px;
  top: 0px;
  position: sticky;
  // border: 1px solid black;
  background: #fff;
}

.header__text {
  font-family: 'Pacifico', cursive;
  font-size: 29px;
  text-align: center;
}

.object-hover-transform {
  cursor: pointer;
  transform: scale(1.1);
}

.image__gallery--grid {
  // border: 1px solid black;
  margin-top: 0px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: $grid_img_size $grid_img_size $grid_img_size;

  .image {
    width: $grid_img_size;
    height: $grid_img_size;
    background-color: silver;

    &:hover {
      cursor: pointer;
    }
  }
}

.image__gallery--single {
  // border: 1px solid black;
  margin-top: 0px;
  display: grid;
  grid-gap: 1px;
  // grid-template-columns: 100%;

  .image {
    width: 100%;
    height: 300px;
    background-color: silver;
    // border: 1px solid black;
  }
}

.footer {
  // position: sticky;
  @extend .header;
  height: 120px;
  background: transparent;
  // width: 150px;
  bottom: 0px;
  // border: 1px solid black;
  // z-index: 10;
}

.img-menu {
  width: 100%;
  background-size: cover;
  transition: .3s;
}

.footer__menu--camera {
  right: 30px;
  bottom: 13px;
  position: absolute;
  height: 80%;
  width: 18%;
  border-radius: 50%;
  background: white;
  border: 8px solid black;

  img {
    @extend .img-menu;

    &:hover {
      @extend .object-hover-transform
    }
  }
}

.footer__menu--others {
  // @extend .header;
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background: white;
  // border: 1px solid black;
}

.others__menu {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  // border: 1px solid black;
}

input[type="file"] {
  display: none;
}

.footer__menu--collage,
.footer__menu--grid,
.footer__menu--single {
  width: 70px;
  padding: 2px 6px;
  // border: 1px solid black;

  img {
    @extend .img-menu;

    &:hover {
      @extend .object-hover-transform
    }
  }
}

.modal__upload--img {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 125px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);

  .modal-close {
    border: 5px solid rgba(134, 134, 134, 0.9);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background: #404040;
    position: absolute;
    display: inline-block;
    z-index: 99;
    top: 104px;
    right: 420px;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    color: #C4C4C4;
    cursor: pointer;

    &:hover {
      background: #C4C4C4;
      color: rgba(0, 0, 0, .76);
    }

    &:active {
      line-height: 38px;

    }
  }

  .modal-content {
    background: #404040;
    border: 5px solid rgba(134, 134, 134, 0.9);
    border-radius: 17px;
    margin: auto;
    padding: 20px;
    width: 470px;
    height: 400px;

    .modal-img-select {
      width: 100%;
      height: 200px;
      background: #c4c4c4;
      border-radius: 10px;
    }

    .modal-img-caption {
      width: 100%;
      margin-top: 15px;
      // border: 1px solid white;

      textarea {
        resize: none;
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 10px;
        font-size: 16px;
        font-family: 'Comfortaa', cursive;

        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    .btn-upload {
      margin: 20px auto;
      width: 150px;
      // border: 1px solid white;

      button {
        background: #C4C4C4;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
        font-family: 'Pacifico', cursive;
        font-size: 19px;
        line-height: 40px;
        color: rgba(0, 0, 0, .76);

        &:hover {
          background: #dbdbdb;
        }

        &:active {
          position: relative;
          top: 1px;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }

}
